<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

    <ion-item>
      <ion-label>Correo:</ion-label>
      <ion-input type="text" #txtEmail></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" #txtPass></ion-input>
    </ion-item>

    <ion-item *ngIf="usuario">
      <ion-label>Perfil:</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.tipo"></ion-input>
    </ion-item>


    <ion-button (click)="login(txtEmail,txtPass)">Login</ion-button>
    <ion-button (click)="registrar(txtEmail,txtPass)">Registrarse</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
