<ion-header>
  <ion-toolbar>
    <ion-title>alumnoDetalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let aux of alumno">
      <ion-card>
        <img src="https://pbs.twimg.com/media/FWYVwO8XoAUK-nq.png" alt="">
        <ion-card-header>
          <ion-card-title>{{aux.nombre}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Alumno
        </ion-card-content>
      </ion-card>
    </ion-item>

   </ion-list>
</ion-content>
